/* * {
  box-sizing: border-box;
}

/* Barvy:
pozadí stránky: #FAFAFA;
černá: #000000;
šedá: #8B8B8B;
primární modrá: #407BFF;
*/

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #fafafa;
  color: #8b8b8b;
  margin: 10px;
}

.container {
  max-width: 1040px;
  margin: 60px 10px;
  text-align: center;
 }

.logo {
  width: 70%;
}

h1 {
  font-size: 28px;
  color: #000000;
}

h2 {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  margin: 0 0 15px 0;
}

hr {
  width: 60px;
  border: 0;
  border-bottom: 2px solid #407bff;
}

.paragraph {
  margin: 15px auto 30px auto;
}

.button-row {
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: #fafafa;
  font-size: 14px;
  font-weight: 400;
  background-color: #407bff;
  border-radius: 20px;
  padding: 10px 30px;
}

.gray {
  background-color: #8b8b8b;
}

.section {
  margin-top: 60px;
}

.panel {
  box-shadow: 0px 4px 6px #407BFF1F;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: white;
  display: flex;
  padding: 20px;
}

.content {
  font-size: 13px;
  text-align: left;
  padding-left: 30px;
}



@media screen and (min-width: 640px) {
  .button-row {
    display: inline-block;
  }

  .gray {
    margin-left: 20px;
  }

  .section {
    margin-top: 80px;
  }

  .box {
    display: flex;
  }

  .panel {
    display: block;
    margin: 0 10px;
  }

  .icon {
    padding-top: 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .paragraph {
     width: 550px;
     text-align: center;
  }
}



@media screen and (min-width: 1100px) {
  .container {
    margin: 60px auto;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .header-text {
    order: 1;
    flex: 0 0 490px;
    padding-right: 60px;
    text-align: left;
  }

  h1 {
    text-align: left;
  }

  hr {
    margin-left: 0;
  }

  .paragraph {
    text-align: left;
    width: 100%;
  }

  .header-logo {
    flex: 0 0 490px;
    order: 2;
  }

  .logo {
    width: 100%;
    max-width: 425px;
  }

  .section {
    display: flex;
    align-items: center;
  }

  .first .box {
    order: 1;
    flex: 0 0 550px;
  }

  .first .section-text {
    order: 2;
    flex: 0 0 430px;
    text-align: left;
    padding-left: 60px;
  }

  .section-text .paragraph {
    margin-bottom: 0;
  }

  .second .box {
    order: 2;
    flex: 0 0 550px;
  }

  .second .section-text {
    order: 1;
    flex: 0 0 430px;
    text-align: left;
     padding-right: 60px;
  }
  
}
